* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.content {
  padding-top: 108px;
  padding-left: 108px;
  padding-right: 108px;
  padding-bottom: 180px;
}

.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 84px;
  display: flex;
  z-index: 20;
  position: absolute;
  box-shadow: rgb(0 0 0 / 60%) 0px 4px 10px -10px;
  box-sizing: border-box;
  transition: all 0.2s ease 0s;
  align-items: center;
  font-family: Roboto;
  justify-content: center;
}

.navbar-content {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1596px;
  padding-left: 36px;
  padding-right: 36px;
  justify-content: space-between;
}

.name {
  display: flex;
  font-size: 20px;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-decoration: none;
}

.menu-links {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-links > span {
  margin: 0px 10px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.8px;
  text-decoration: none;
  padding: 5px;
}

.reservations {
  font-size: 36px;
  padding-left: 0;
  margin-bottom: 50px;
  font-weight: 300;
}

.reservation-container {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

.reservation-box {
  border: solid 1px #c4c4c4;
  padding: 12px;
  min-height: 0px;
  border-radius: 2px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  transition-property: border, padding;
  border-top: solid 6px #99604c;
  padding: 60px 30px;
  display: block;
  max-width: 37.5%;
  margin: 20px;
}

.reservation-title {
  font-size: 22px;
  margin-bottom: 50px;
}

.reservation-description {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}