* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* Styles the main container */
.content {
  padding-top: 108px;
  padding-left: 108px;
  padding-right: 108px;
  padding-bottom: 180px;
}

/* Styles the NavBar itself */
.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 84px;
  display: flex;
  z-index: 20;
  position: absolute;
  box-shadow: rgb(0 0 0 / 60%) 0px 4px 10px -10px;
  box-sizing: border-box;
  transition: all 0.2s ease 0s;
  align-items: center;
  font-family: Roboto;
  justify-content: center;
}

/* Styles the items inside NavBar */
.navbar-content {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1596px;
  padding-left: 36px;
  padding-right: 36px;
  justify-content: space-between;
}

/* Styles the logo on the left inside NavBar */
.name {
  display: flex;
  font-size: 20px;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-decoration: none;
}

/* Styles the menu links on the right inside NavBar */
.menu-links {
  /* width: 100%; Louis's change */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Styles the individual links in the menu */
.item {
  margin: 0px 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-decoration: none;
  padding: 5px; /* Louis's change */
}

/* Styles the Reservations text */
.reservations {
  font-size: 36px;
  padding-left: 0;
  margin-bottom: 50px;
  font-weight: 300;
}

/* Styles the container that holds the two reservation boxes */
.reservation-container {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}

/* Styles an individual reservation box */
.reservation-box {
  border: solid 1px #c4c4c4;
  padding: 12px;
  min-height: 0px;
  border-radius: 2px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  transition-property: border, padding;
  border-top: solid 6px #99604c;
  padding: 60px 30px;
  display: block;
  max-width: 37.5%;
  margin: 20px;
}

/* Styles the reservation title in a reservation box */
.reservation-title {
  font-size: 22px;
  margin-bottom: 50px;
}

/* Styles the reservation description in a reservation box */
.reservation-description {
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
}